.actions {
    position: absolute;
    top: 10px;
    left: 40%;
}

span {
    cursor: pointer;
}

.actions span:first-child:hover {
    color: green!important;
}

.actions span:last-child:hover {
    color: red!important;
}