.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #1e87f0;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}