.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 10px 10px 10px;
}

.paginationButton {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

.paginationButton, .active {
    background-color: #1e87f0;
    color: white;
}

.paginationButtonDisabled {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

.paginationButtonDisabled, .active {
    background-color: #1e87f0;
    color: white;
}

.pagination .paginationButton:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
    color: black;
}

.pagination .paginationButtonDisabled:hover:not(.active) {
    padding: 10px 20px;
    background-color: #ddd;
    text-decoration: none;
    color: gray;
}